<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/gestion_commerce</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="models/Promotion.hbm.xml"/>
        <mapping resource="models/Poste.hbm.xml"/>
        <mapping resource="models/Typecontrat.hbm.xml"/>
        <mapping resource="models/Contrattravail.hbm.xml"/>
        <mapping resource="models/Penalite.hbm.xml"/>
        <mapping resource="models/Categorietransaction.hbm.xml"/>
        <mapping resource="models/Vente.hbm.xml"/>
        <mapping resource="models/Paiement.hbm.xml"/>
        <mapping resource="models/Detailvente.hbm.xml"/>
        <mapping resource="models/Assoreporttransat.hbm.xml"/>
        <mapping resource="models/Conge.hbm.xml"/>
        <mapping resource="models/Assocomptecaisse.hbm.xml"/>
        <mapping resource="models/Article.hbm.xml"/>
        <mapping resource="models/Societe.hbm.xml"/>
        <mapping resource="models/Image.hbm.xml"/>
        <mapping resource="models/Salaire.hbm.xml"/>
        <mapping resource="models/Historique.hbm.xml"/>
        <mapping resource="models/Unitemesure.hbm.xml"/>
        <mapping resource="models/Catalogue.hbm.xml"/>
        <mapping resource="models/Motifretour.hbm.xml"/>
        <mapping resource="models/Payementsalaire.hbm.xml"/>
        <mapping resource="models/Boutique.hbm.xml"/>
        <mapping resource="models/Personne.hbm.xml"/>
        <mapping resource="models/Transaction.hbm.xml"/>
        <mapping resource="models/Typevariete.hbm.xml"/>
        <mapping resource="models/Livraison.hbm.xml"/>
        <mapping resource="models/Stock.hbm.xml"/>
        <mapping resource="models/Modepayement.hbm.xml"/>
        <mapping resource="models/Variete.hbm.xml"/>
        <mapping resource="models/Compte.hbm.xml"/>
        <mapping resource="models/Permission.hbm.xml"/>
        <mapping resource="models/Detaiproduit.hbm.xml"/>
        <mapping resource="models/Produit.hbm.xml"/>
        <mapping resource="models/Retourproduit.hbm.xml"/>
        <mapping resource="models/Varietesalaire.hbm.xml"/>
        <mapping resource="models/Casquette.hbm.xml"/>
        <mapping resource="models/Client.hbm.xml"/>
        <mapping resource="models/Profile.hbm.xml"/>
        <mapping resource="models/Rapportfinancier.hbm.xml"/>
        <mapping resource="models/Patterne.hbm.xml"/>
        <mapping resource="models/Famille.hbm.xml"/>
        <mapping resource="models/Employer.hbm.xml"/>
        <mapping resource="models/Assoproduitunite.hbm.xml"/>
        <mapping resource="models/Caisse.hbm.xml"/>
        <mapping resource="models/Role.hbm.xml"/>
        <mapping resource="models/Collaborateur.hbm.xml"/>
        <mapping resource="models/Facture.hbm.xml"/>
        <mapping resource="models/Lot.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
